<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" alt=" RSS 订阅地址">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" rel="noreferrer" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    {% if page.not_show_copyright %}
                    {% else %}
                    转载请注明以下信息：《{{page.title}}》转载自 <a href="{{ site.url }}">{{ site.url }}</a>
                    <br>
                    本文地址：<a href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a>
                    <br>
                    {% endif %}
                    版权所有 &copy; <a href="/wiki/about/">{{ site.title }}</a> 保留所有权利 2016 - {{ site.time | date: '%Y' }} 
                    <br>
                    除特殊声明外，本站文章均采用<a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" rel="noopener nofollow">知识共享署名-非商业性使用-禁止演绎
                        4.0</a>国际许可协议进行许可。
                    <br>
                    <a href="/special/firefox/resource/">浏览器</a>| 
                    <a href="https://ypingcn.com/">混沌书签导航</a>| 
                    <a href="https://ypingcn.com/article/">文章收藏</a>| 
                    <a href="/wiki/about/">关于</a>| 
                    <a href="/wiki/privacy/">隐私策略</a>               
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<!-- <script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script> -->
<script src="//fastly.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>


<!-- Bootstrap Core JavaScript -->
<!-- <script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script> -->
<script src="//fastly.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/hux-blog.min.js " | prepend: site.baseurl }}"></script>

<script>
    !(function(c,i,e,b){
    var h=i.createElement("script");
    var f=i.getElementsByTagName("script")[0];
    h.type="text/javascript";
    h.crossorigin=true;
    h.onload=function(){new c[b]["Monitor"]().init({id:"JidLmLbB2HSeskCD",sendSuspicious:true});};
    f.parentNode.insertBefore(h,f);h.src=e;})(window,document,"https://sdk.51.la/perf/js-sdk-perf.min.js","LingQue");
</script>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "9cwlm2pmbs");
</script>

<script>
    function _howxm() { _howxmQueue.push(arguments) }
    window._howxmQueue = window._howxmQueue || [];
    _howxm('setAppID', '6de25c29-c1a0-4047-8a0f-b62c74650c44');
    (function () {
        var scriptId = 'howxm_script';
        if (!document.getElementById(scriptId)) {
        var e = document.createElement('script'),
            t = document.getElementsByTagName('script')[0];
        e.setAttribute('id', scriptId);
        e.type = 'text/javascript'; e.async = !0;
        e.src = 'https://static.howxm.com/sdk.js';
        t.parentNode.insertBefore(e, t)
        }
    })();
</script>

<!-- Service Worker -->
{% if site.service-worker %}
<script type="text/javascript">
    if(navigator.serviceWorker){
        // For security reasons, a service worker can only control the pages that are in the same directory level or below it. That's why we put sw.js at ROOT level.
        navigator.serviceWorker
            .register('/sw.js')
            .then((registration) => {console.log('Service Worker Registered. ', registration)})
            .catch((error) => {console.log('ServiceWorker registration failed: ', error)})
    }
</script>
{% endif %}

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- jquery.tagcloud.js -->
<script>
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async('{{ "/js/jquery.tagcloud.js" | prepend: site.baseurl }}',function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>

<!--fastClick.js -->
<script>
    // async("//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js", function(){
    async("//fastly.jsdelivr.net/npm/fastclick@1.0.6/lib/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>


<!-- Side Catalog -->
{% if page.catalog %}
<script type="text/javascript">
    function generateCatalog (selector) {
        var P = $('div.post-container'),a,n,t,l,i,c;
        a = P.find('h1,h2,h3,h4,h5,h6');
        a.each(function () {
            n = $(this).prop('tagName').toLowerCase();
            i = "#"+$(this).prop('id');
            t = $(this).text();
            c = $('<a href="'+i+'" rel="nofollow">'+t+'</a>');
            l = $('<li class="'+n+'_nav"></li>').append(c);
            $(selector).append(l);
        });
        return true;    
    }

    generateCatalog(".catalog-body");

    // toggle side catalog
    $(".catalog-toggle").click((function(e){
        e.preventDefault();
        $('.side-catalog').toggleClass("fold")
    }))

    /*
     * Doc: https://github.com/davist11/jQuery-One-Page-Nav
     * Fork by Hux to support padding
     */
    async("{{ '/js/jquery.nav.js' | prepend: site.baseurl }}", function () {
        $('.catalog-body').onePageNav({
            currentClass: "active",
            changeHash: !1,
            easing: "swing",
            filter: "",
            scrollSpeed: 700,
            scrollOffset: 0,
            scrollThreshold: .2,
            begin: null,
            end: null,
            scrollChange: null,
            padding: 80
        });
    });
</script>
{% endif %}

