<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    <meta name="msvalidate.01" content="DBEA5FE38EFA4F1453FBE81340557E61" />
    <meta name="google-site-verification" content="M_0tfwClFahOrYyF9cDiHY6yc0Dn2MX53E_EXsborxY" />
    <meta name='description'
        content='{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}'>
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ " /css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /css/hux-blog.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /css/syntax.css" | prepend: site.baseurl }}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WQ4LEY90VJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-WQ4LEY90VJ');
    </script>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "47q55v5vbi");
    </script>
</head>