---
layout: default
---

<!-- Page Header -->
<header class="intro-header"
    style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <br>
                    <h4>{% if page.date %}首次发布时间：{{ page.date | date: "%Y年%m月%d日" }}{% endif %}</h4>
                    <h4>{% if page.update %}最后更新时间：{{ page.update | date: "%Y年%m月%d日" }}{% endif %}</h4>
                    <span class="subheading">{{ page.subtitle }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        {% if site.sidebar == false %}
        <!-- NO SIDEBAR -->
        <!-- PostList Container -->
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
            {% if page.not_show_ad %}
            {% else %}
            <blockquote>[AD] -- 下方为内容广告，点击支持作者，<a href="/special/firefox/addons/">想过滤广告？</a> -- [AD]</blockquote>
            <ins class="adsbygoogle"
                    style="display:block; text-align:center;"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-6252206902371079"
                    data-ad-slot="1652102525"></ins>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% endif %}

            {{ content }}
        </div>
        <!-- Sidebar Container -->
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container">
            <!-- Featured Tags -->
            {% if site.featured-tags %}
            <section>
                <!-- no hr -->
                <h5><a href="{{'/tags/' | prepend: site.baseurl }}" alt="FEATURED TAGS">FEATURED TAGS</a></h5>
                <div class="tags">
                    {% for tag in site.tags %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                        {{ tag[0] }}
                    </a>
                    {% endfor %}
                </div>
            </section>
            {% endif %}

            <!-- Friends Blog -->
            {% if site.friends %}
            <hr>
            <h5>FRIENDS</h5>
            <ul class="list-inline">
                {% for friend in site.friends %}
                <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% else %}

        <!-- USE SIDEBAR -->
        <!-- PostList Container -->
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container">
            {% if page.not_show_ad %}
            {% else %}
            <blockquote>[AD] -- 下方为内容广告，点击支持作者，<a href="/special/firefox/addons/">想过滤广告？</a> -- [AD]</blockquote>
            <ins class="adsbygoogle"
                    style="display:block; text-align:center;"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-6252206902371079"
                    data-ad-slot="1652102525"></ins>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% endif %}

            {{ content }}

            {% if page.not_show_ad %}
            {% else %}
            <blockquote>[AD] -- 下方为内容广告，点击支持作者，<a href="/special/firefox/addons/">想过滤广告？</a> -- [AD]</blockquote>
            <ins class="adsbygoogle"
                    style="display:block; text-align:center;"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-6252206902371079"
                    data-ad-slot="1652102525"></ins>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% endif %}
        </div>
        <!-- Sidebar Container -->
        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container">
            <!-- Featured Tags -->
            {% if site.featured-tags %}
            <section>
                <hr class="hidden-sm hidden-xs">
                <h5><a href="{{'/tags/' | prepend: site.baseurl }}" alt="FEATURED TAGS">FEATURED TAGS</a></h5>
                <div class="tags">
                    {% for tag in site.tags %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                        {{ tag[0] }}
                    </a>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            <section>
                <div class="sidebar-recommand">
                    <h5><a href="{{'/wiki/' | prepend: site.baseurl }}">本站专题</a></h5>
                    <a target="_blank"  href="https://ypingcn.com/?utm_source=blog&utm_medium=nav" alt="「书签导航」">「书签导航」</a>
                    <br><a target="_blank"  href="https://ypingcn.com/article/?utm_source=blog&utm_medium=nav" alt="「文章收藏」">「文章收藏」</a>
                    <br><a target="_blank"  href="https://ypingcn.com/spa/?utm_source=blog&utm_medium=nav" alt="「工具合集」">「工具合集」</a>
                    <br><a target="_blank"  href="/special/firefox/" alt="「火狐专题」">「火狐专题」</a>
                    <br><a target="_blank"  href="/wiki/affiliate/" alt="「好物推荐」">「好物推荐」</a>
                    <br><a target="_blank"  href="/special/fund/year-book/" alt="「基金专题」">「基金专题」</a>
                </div>
                <hr>
                <h5>[AD] -- 「侧边栏广告」 --</h5>
                <div>
                <!-- 侧边栏广告 -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6252206902371079"
                    data-ad-slot="1807131374" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <hr>
                <h5>「更多独立博客」</h5>
                <a target="_blank"  rel="noopener nofollow" href="https://www.foreverblog.cn/feeds.html" alt="十年之约专题展示">十年之约专题展示</a>
                <br>
                <a href="https://www.travellings.cn/go.html?utm_source=blog&utm_medium=sidebar&utm_campaign=blog.ypingcn.com"
                    target="_blank" rel="noopener nofollow" title="开往-友链接力">
                    <img src="/img/travelling-logo.gif" alt="开往-友链接力" width="120">
                </a>
            </section>
            <!-- Short About -->
            <section class="visible-md visible-lg">
                <hr>
                <h5><a href="{{'/wiki/about/' | prepend: site.baseurl }}">「关于」</a></h5>
                <div class="short-about">
                    {% if site.sidebar-avatar %}
                    <img src="{{site.sidebar-avatar}}" alt="博客边栏正方形头像" />
                    {% endif %}
                    {% if site.sidebar-about-description %}
                    <p>{{site.sidebar-about-description}}</p>
                    {% endif %}
                    <!-- SNS Link -->
                    <ul class="list-inline subscribe-icon">
                        <li>
                            <a target="_blank" href="{{ " /feed.xml" | prepend: site.baseurl }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <hr>
                <h5>「你可能会关注的文章」</h5>
                <div>{% assign next_page_group = site.pages | sample: 8  %}{% for next_page in next_page_group %}{% assign now_folder_level = next_page.url | split:"/" | size %}{% assign now_all_folder = next_page.url | split:"/" %}
                    {% if next_page.title and now_folder_level >= 3 %}{% if now_all_folder[1]  == "special" or now_all_folder[1]  == "notes" %}
                    <a href="{{next_page.url}}" alt="{{next_page.title}}">《{{next_page.title}}》</a><br>
                    {% endif %}{% endif %}{% endfor %}
                </div>
            </li>
            </section>
            <!-- Friends Blog -->
            {% if site.friends %}
            <hr>
            <h5>FRIENDS</h5>
            <ul class="list-inline">
                {% for friend in site.friends %}
                <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
