---
layout: default
---

<!-- Page Header -->
<header class="intro-header"
    style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <h4>{% if page.update %}Lastest updated on {{ page.update | date: "%B %-d, %Y" }}{% endif %}</h4>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.subtitle }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        {% if site.sidebar == false %}
        <!-- NO SIDEBAR -->
        <!-- PostList Container -->
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
            {{ content }}
        </div>
        <!-- Sidebar Container -->
        <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">
            <!-- Featured Tags -->
            {% if site.featured-tags %}
            <section>
                <!-- no hr -->
                <h5><a href="{{'/tags/' | prepend: site.baseurl }}" alt="FEATURED TAGS">FEATURED TAGS</a></h5>
                <div class="tags">
                    {% for tag in site.tags %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                        {{ tag[0] }}
                    </a>
                    {% endfor %}
                </div>
            </section>
            {% endif %}

            <!-- Friends Blog -->
            {% if site.friends %}
            <hr>
            <h5>FRIENDS</h5>
            <ul class="list-inline">
                {% for friend in site.friends %}
                <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% else %}

        <!-- USE SIDEBAR -->
        <!-- PostList Container -->
        <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
            {{ content }}
        </div>
        <!-- Sidebar Container -->
        <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
            <!-- Featured Tags -->
            {% if site.featured-tags %}
            <section>
                <hr class="hidden-sm hidden-xs">
                <h5><a href="{{'/tags/' | prepend: site.baseurl }}" alt="FEATURED TAGS">FEATURED TAGS</a></h5>
                <div class="tags">
                    {% for tag in site.tags %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                        {{ tag[0] }}
                    </a>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            <section>
                <div>
                    <h5><a href="{{'/wiki/' | prepend: site.baseurl }}">本站专题</a></h5>
                    <a target="_blank" style="color: #0c82ff;" href="https://ypingcn.com/?utm_source=blog&utm_medium=sidebar&utm_campaign=promotion" alt="「书签导航」">「书签导航」</a>
                    <br><a target="_blank" style="color: #0c82ff;" href="/special/firefox/?utm_source=blog&utm_medium=sidebar&utm_campaign=promotion" alt="「火狐专题」">「火狐专题」</a>
                    <br><a target="_blank" style="color: #0c82ff;" href="/special/fund/year-book/?utm_source=blog&utm_medium=sidebar&utm_campaign=promotion" alt="「基金专题」">「基金专题」</a>
                    <br><a target="_blank" style="color: #0c82ff;" href="/wiki/affiliate/?utm_source=blog&utm_medium=sidebar&utm_campaign=promotion" alt="「好物推荐」">「好物推荐」</a>
                </div>

                <hr>
                <h5>[AD] -- 侧边栏广告 --</h5>
                <div>
                <!-- 侧边栏广告 -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6252206902371079"
                    data-ad-slot="1807131374" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </section>

            <!-- Short About -->
            <section class="visible-md visible-lg">
                <hr>
                <h5><a href="{{'/wiki/about/' | prepend: site.baseurl }}">关于</a></h5>
                <div class="short-about">
                    {% if site.sidebar-avatar %}
                    <img src="{{site.sidebar-avatar}}" alt="博客边栏正方形头像" />
                    {% endif %}
                    {% if site.sidebar-about-description %}
                    <p>{{site.sidebar-about-description}}</p>
                    {% endif %}
                    <!-- SNS Link -->
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="{{ " /feed.xml" | prepend: site.baseurl }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <hr>
                <h5>你可能会喜欢</h5>
                <div>{% assign next_page_group = site.pages | sample: 6  %}{% for next_page in next_page_group %}{% assign now_folder_level = next_page.url | split:"/" | size %}{% assign now_all_folder = next_page.url | split:"/" %}
                    {% if next_page.title and now_folder_level >= 3 %}{% if now_all_folder[1]  == "special" or now_all_folder[1]  == "notes" %}
                    <a style="color: #0c82ff;" href="{{next_page.url}}?utm_source=blog&utm_medium=sidebar&utm_campaign=recommend" alt="{{next_page.title}}">《{{next_page.title}}》</a><br>
                    {% endif %}{% endif %}{% endfor %}
                </div>
            </li>
            </section>
            <!-- Friends Blog -->
            {% if site.friends %}
            <hr>
            <h5>FRIENDS</h5>
            <ul class="list-inline">
                {% for friend in site.friends %}
                <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
